SERVICE=
SERVICE_PORT=80
DOMAIN_NAME=

# DB
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
WORDPRESS_TABLE_PREFIX=prefix_

# FTP Server 
FTP_PASV_START=
FTP_PASV_END=
FTP_USERNAME=
FTP_PASSWORD=

# by default
ADMINER_SERVICE=
ADMINER_SERVICE_PORT
ADMINER_DOMAIN_NAME=


# TimeZone
TZ="Europe/Paris"
